.filter {
  display: flex;
  justify-content: center;
  padding: 6%;

      @media all and(min-width:320px) and (max-width:475px){
            padding: 10%;
      }


  .filter-country {
    .container-select {
      display: flex;
      background-color: $veepee-white;
      align-items: center;

      @media all and (min-width:320px) and (max-width:475px){
        background-color: transparent;
        border: solid 1px black;
      }
      span {
        padding: 1rem;
        color: $veepee-orange;
        font-size: 20px;
      }

      .select {
        text-transform: uppercase;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 1rem;

        p {
          margin-right: 12px;
        }
      }

      .btn-select {
        cursor: pointer;
          span {
            padding: 1rem;
            border-left: 3px solid $veepee-background;

            @media all and (min-width:320px) and (max-width:475px){
              border-left: solid 1px black;
            }


            svg{
                transition: 0.2s ease-in;
            }
        }
    }

        .arrow-active{
            svg{
                transition: 0.2s ease-in;
                transform: rotate(45deg);
                color: $veepee-gray;
            }
        }
    }

    .choice-select {
      background-color: $veepee-background;
      position: relative;

      .select-items{
        background-color: $veepee-white;
        position: absolute;
        width: -webkit-fill-available;
        z-index: 5;

        ul {
            margin-top: 0;
            padding: 1rem;
            text-transform: capitalize;
            z-index: 5;

          li {
            list-style: none;
            text-transform: capitalize;
            line-height: 3;
            cursor: pointer;

            &::after {
              content: "";
              border-bottom: solid 1px #b3b1b1;
              width: 100%;
              display: block;
            }
            &:hover {
              color: $veepee-orange;
            }
          }
        }
      }

      .toggle-open{
        display: block;
    }
    .toggle-close{
        display: none;
    }

    }
  }
}

