.top-header{
    position: relative;

    .page-title{
        text-align: center;
        position: relative;
        
        h1{
            color: $veepee-orange;
            text-transform: uppercase;
    
            @media all and (min-width:320px) and (max-width:475px){
                font-size: 16px;
                font-weight: 500;
            }
        }

        h2{
            line-height: 0;
            text-transform: uppercase;
            font-weight: 300;

            @media all and (min-width:320px) and (max-width:475px){
                font-size: 19px;
                font-weight: 500;
            }

            &::after{

                    content: '';
                    display: block;
                    border-bottom: 4px $veepee-black solid;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 8%;
                    bottom:-23px;
                    padding-top: 10px;
                    margin: auto;

                    @media all and (min-width:320px) and (max-width:475px){
                            width: calc(6rem + 11px);
                    }
                }


            @media all and (min-width:320px) and (max-width:475px){
                font-weight: 300;
            }
        }
    }
}

