
//primary-colors
$veepee-background: rgb(203, 201, 201);
$veepee-white: #ffffff;
$veepee-orange: #da2d23;
$veepee-blue: #041a41;
$veepee-gray: #333333;

//secondary-colors
$veepee-black: #000000;
$veepee-or:#bd9c6a;



//fonts





